<div class="container-fluid">
  <div class="row">
    <!-- Left Side-Bar -->
    <div class="col-md-3">
      <div class="team-sidebar">
        <h2>Los Angeles Lakers</h2>
        <a href="http://lakers.com">Official Team Site</a><br>
        <a href="http://www.nba.com/lakers/roster">Team Roster</a><br>
        <a href="http://staplescenter.com">Stadium</a><br>
        Social Feeds:
        <a href="http://instagram.com/lakers"> <i class="fa fa-instagram"></i></a> 
        <a href="http://twitter.com/lakers"> <i class="fa fa-twitter"></i></a>    
        <a href="http://lakers.tumblr.com"> <i class="fa fa-tumblr"></i></a>    
        <a href="http://plus.google.com/+LosAngelesLakers"> <i class="fa fa-google-plus"></i></a>    
        <a href="http://www.facebook.com/losangeleslakers"> <i class="fa fa-facebook"></i></a>    
      </div>
    </div>

    <div class="col-md-9">
    <!-- Top Row-Right -->
      <div class="row">
        <div class="col-md-4">
          <div class="team-header">Official Site</div>
          <div class="links">

            <% @lakers.each do |story| %>
              <p><a href="<%=story.url %>" target="_blank"> <%= story.title %> </a> (<%= story.published.strftime("%-m/%-d,%Y, %-l:%M%P") %>)</p>
            <% end %>

          </div>
        </div>

        <div class="col-md-4">
          <div class="team-header">Official Site</div>
          <div class="links">

            <% @lakers.each do |story| %>
              <p><a href="<%=story.url %>" target="_blank"> <%= story.title %> </a> (<%= story.published.strftime("%-m/%-d,%Y, %-l:%M%P") %>)</p>
            <% end %>
          </div>
        </div>

        <div class="col-md-4">
          <div class="team-header">Official Site</div>
          <div class="links">
            <% @lakers.each do |story| %>
              <p><a href="<%=story.url %>" target="_blank"> <%= story.title %> </a> (<%= story.published.strftime("%-m/%-d,%Y, %-l:%M%P") %>)</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
