<div class="container">
  <div class="row">
    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>
  </div>

  <div class="row">
    <% current_user.bookmarks.each do |bookmark| %>
      <p>
        <a href="<%= bookmark.url %>" target="_blank"><%= bookmark.title %></a> 
        <%= link_to '', bookmark, :class => "fa fa-trash-o", method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
    <% end %>
  </div>
</div>
