<div class="jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <h1>Sports News Los Angeles</h1>
        <br>
        <p>Stay Up-to-Date With All the Latest Los Angeles Sports News.</p>
        <p>Over 150 News Feeds Automatically Updated Throughout the Day.</p>
        <p>Team Social Media Feeds (Instagram, Twitter, Tumblr, YouTube) Also Included.</p>
        <p>Log In and Bookmark Stories for Later Reading.</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <%= image_tag("home.png", :class => "home-image") %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row headline">
    Latest Team Headlines
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Lakers</div>
      <!-- TODO: Refactor this! -->
      <% @lakers.each do |story| %>
        <div class="story">

          <!-- Image, if available -->
          <% if story.image %>
            <img src="<%= story.image %>" alt="" class="story-image">
          <% end %>

          <a href="<%= story.url %>" target="_blank"> <%= story.title %> </a> 
          <span class="timestamp"> (<%= story.published.to_s(:created_date) %>) </span>

          <!-- Check if new -->
          <% if story.published.strftime("%-m/%-d") == Date.today.strftime("%-m/%-d") %> 
            <span class="new"> <%= "New today!" %> </span>
          <% end %>

        </div>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Clippers</div>
      <!-- TODO: Refactor this! -->
      <% @clippers.each do |story| %>
        <div class="story">

          <!-- Image, if available -->
          <% if story.image %>
            <img src="<%= story.image %>" alt="" class="story-image">
          <% end %>

          <a href="<%= story.url %>" target="_blank"> <%= story.title %> </a> 
          <span class="timestamp"> (<%= story.published.to_s(:created_date) %>) </span>

          <!-- Check if new -->
          <% if story.published.strftime("%-m/%-d") == Date.today.strftime("%-m/%-d") %> 
            <span class="new"> <%= "New today!" %> </span>
          <% end %>

        </div>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header"><%= link_to "Dodgers", dodgers_path %></div>
      
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header"><%= link_to "Angels", angels_path %></div>
      
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header"><%= link_to "UCLA", bruins_path %></div>
   
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header"><%= link_to "USC", trojans_path %></div>
      
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header"><%= link_to "Kings", kings_path %></div>
      
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header"><%= link_to "Ducks", ducks_path %></div>
      
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header"><%= link_to "Galaxy", galaxy_path %></div>
      
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header"><%= link_to "Chivas", chivas_path %></div>
      
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header"><%= link_to "Sparks", sparks_path %></div>
      
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header"><%= link_to "High School", preps_path %></div>
      
    </div>
  </div>
</div>