<div class="jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <h1>Sports News Los Angeles</h1>
        <br>
        <p>Stay Up-to-Date With All the Latest Los Angeles Sports News.</p>
        <p>Over 150 News Feeds Automatically Updated Throughout the Day.</p>
        <p>Team Social Media Feeds (Instagram, Twitter, Tumblr, YouTube) Also Included.</p>
        <p>Log In and Bookmark Stories for Later Reading.</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6"><%= image_tag("home.png", :class => "home-image") %></div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row headlines">
    Latest Team Headlines
  </div>
</div>

<div class="container-fluid">
  <div class="row home">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header"><%= link_to "Lakers", lakers_path %></div>
      <% @lakers.each do |story| %>
        <div class="story">
          <% if story.image %>
            <img src="<%= story.image %>" alt="" class="story-image">
          <% end %>

          <a href="<%= story.url %>" target="_blank"> <%= story.title %> </a> 
          <span class="timestamp"> (<%= story.published.to_s(:created_date) %>, Source: <%= story.source %>) </span>
          &nbsp;<i class="fa fa-bookmark-o" title="Bookmark Story"></i>
        </div>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header"><%= link_to "Clippers", clippers_path %></div>
      <% @clippers.each do |story| %>
        <div class="story">
          <% if story.image %>
            <img src="<%= story.image %>" alt="" class="story-image">
          <% end %>

          <a href="<%= story.url %>" target="_blank"> <%= story.title %> </a> 
          <span class="timestamp"> (<%= story.published.to_s(:created_date) %>, Source: <%= story.source %>) </span>
          &nbsp;<i class="fa fa-bookmark-o" title="Bookmark Story"></i>
        </div>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header"><%= link_to "Dodgers", dodgers_path %></div>
      <% @dodgers.each do |story| %>
        <div class="story">
          <% if story.image %>
            <img src="<%= story.image %>" alt="" class="story-image">
          <% end %>

          <a href="<%= story.url %>" target="_blank"> <%= story.title %> </a> 
          <span class="timestamp"> (<%= story.published.to_s(:created_date) %>, Source: <%= story.source %>) </span>
          &nbsp;<i class="fa fa-bookmark-o" title="Bookmark Story"></i>
        </div>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header"><%= link_to "Angels", angels_path %></div>
      <% @angels.each do |story| %>
        <div class="story">
          <% if story.image %>
            <img src="<%= story.image %>" alt="" class="story-image">
          <% end %>

          <a href="<%= story.url %>" target="_blank"> <%= story.title %> </a> 
          <span class="timestamp"> (<%= story.published.to_s(:created_date) %>, Source: <%= story.source %>) </span>
          &nbsp;<i class="fa fa-bookmark-o" title="Bookmark Story"></i>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row home">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header"><%= link_to "UCLA Bruins", bruins_path %></div>
      <% @bruins.each do |story| %>
        <div class="story">
          <% if story.image %>
            <img src="<%= story.image %>" alt="" class="story-image">
          <% end %>

          <a href="<%= story.url %>" target="_blank"> <%= story.title %> </a> 
          <span class="timestamp"> (<%= story.published.to_s(:created_date) %>, Source: <%= story.source %>) </span>
          &nbsp;<i class="fa fa-bookmark-o" title="Bookmark Story"></i>
        </div>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header"><%= link_to "USC", trojans_path %></div>
      <% @trojans.each do |story| %>
        <div class="story">
          <% if story.image %>
            <img src="<%= story.image %>" alt="" class="story-image">
          <% end %>

          <a href="<%= story.url %>" target="_blank"> <%= story.title %> </a> 
          <span class="timestamp"> (<%= story.published.to_s(:created_date) %>, Source: <%= story.source %>) </span>
          &nbsp;<i class="fa fa-bookmark-o" title="Bookmark Story"></i>
        </div>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header"><%= link_to "Kings", kings_path %></div>
      <% @kings.each do |story| %>
        <div class="story">
          <% if story.image %>
            <img src="<%= story.image %>" alt="" class="story-image">
          <% end %>

          <a href="<%= story.url %>" target="_blank"> <%= story.title %> </a> 
          <span class="timestamp"> (<%= story.published.to_s(:created_date) %>, Source: <%= story.source %>) </span>
          &nbsp;<i class="fa fa-bookmark-o" title="Bookmark Story"></i>
        </div>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header"><%= link_to "Ducks", ducks_path %></div>
      <% @ducks.each do |story| %>
        <div class="story">
          <% if story.image %>
            <img src="<%= story.image %>" alt="" class="story-image">
          <% end %>

          <a href="<%= story.url %>" target="_blank"> <%= story.title %> </a> 
          <span class="timestamp"> (<%= story.published.to_s(:created_date) %>, Source: <%= story.source %>) </span>
          &nbsp;<i class="fa fa-bookmark-o" title="Bookmark Story"></i>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row home">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header"><%= link_to "Galaxy", galaxy_path %></div>
      <% @galaxy.each do |story| %>
        <div class="story">
          <% if story.image %>
            <img src="<%= story.image %>" alt="" class="story-image">
          <% end %>

          <a href="<%= story.url %>" target="_blank"> <%= story.title %> </a> 
          <span class="timestamp"> (<%= story.published.to_s(:created_date) %>, Source: <%= story.source %>) </span>
          &nbsp;<i class="fa fa-bookmark-o" title="Bookmark Story"></i>
        </div>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header"><%= link_to "Chivas USA", chivas_path %></div>
      <% @chivas.each do |story| %>
        <div class="story">
          <% if story.image %>
            <img src="<%= story.image %>" alt="" class="story-image">
          <% end %>

          <a href="<%= story.url %>" target="_blank"> <%= story.title %> </a> 
          <span class="timestamp"> (<%= story.published.to_s(:created_date) %>, Source: <%= story.source %>) </span>
          &nbsp;<i class="fa fa-bookmark-o" title="Bookmark Story"></i>
        </div>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header"><%= link_to "Sparks", sparks_path %></div>
      <% @sparks.each do |story| %>
        <div class="story">
          <% if story.image %>
            <img src="<%= story.image %>" alt="" class="story-image">
          <% end %>

          <a href="<%= story.url %>" target="_blank"> <%= story.title %> </a> 
          <span class="timestamp"> (<%= story.published.to_s(:created_date) %>, Source: <%= story.source %>) </span>
          &nbsp;<i class="fa fa-bookmark-o" title="Bookmark Story"></i>
        </div>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header"><%= link_to "High School", preps_path %></div>
      <% @preps.each do |story| %>
        <div class="story">
          <% if story.image %>
            <img src="<%= story.image %>" alt="" class="story-image">
          <% end %>

          <a href="<%= story.url %>" target="_blank"> <%= story.title %> </a> 
          <span class="timestamp"> (<%= story.published.to_s(:created_date) %>, Source: <%= story.source %>) </span>
          &nbsp;<i class="fa fa-bookmark-o" title="Bookmark Story"></i>
        </div>
      <% end %>
    </div>
  </div>
</div>

<footer>
  <p>This is an independent website. It is not affiliated with, sponsored or endorsed by any of the teams, or news sources, listed throughout the site. </p>
  <p>This site is also not affiliated with the NBA, MLB, NHL, NCAA, WNBA, MLS or any of its entities.
  Created by <a href="http://www.fernvillasenor.com" target="_blank"> Fernando Villasenor </a></p>
</footer>