<div class="jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <h1>Sports News Los Angeles</h1>
        <br>
        <p>Stay Up-to-Date With All the Latest Los Angeles Sports News.</p>
        <p>Over 150 News Feeds Automatically Updated Throughout the Day.</p>
        <p>Team Social Media Feeds (Instagram, Twitter, Tumblr, YouTube) Also Included.</p>
        <p>Log In and Bookmark Stories for Later Reading.</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <%= image_tag("home.png", :class => "home-image") %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row headlines">
    Latest Team Headlines
  </div>
</div>

<div class="container-fluid">
  <div class="row home">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Lakers</div>
      <!-- TODO: Refactor this! -->
      <% @lakers.each do |story| %>
        <div class="story">

          <!-- Image, if available -->
          <% if story.image %>
            <img src="<%= story.image %>" alt="" class="story-image">
          <% end %>

          <a href="<%= story.url %>" target="_blank"> <%= story.title %> </a> 
          <span class="timestamp"> (<%= story.published.to_s(:created_date) %>, Source: <%= story.source %>) </span>

        </div>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Clippers</div>
      <!-- TODO: Refactor this! -->
      <% @clippers.each do |story| %>
        <div class="story">

          <!-- Image, if available -->
          <% if story.image %>
            <img src="<%= story.image %>" alt="" class="story-image">
          <% end %>

          <a href="<%= story.url %>" target="_blank"> <%= story.title %> </a> 
          <span class="timestamp"> (<%= story.published.to_s(:created_date) %>, Source: <%= story.source %>) </span>

        </div>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Dodgers</div>
      <!-- TODO: Refactor this! -->
      <% @dodgers.each do |story| %>
        <div class="story">

          <!-- Image, if available -->
          <% if story.image %>
            <img src="<%= story.image %>" alt="" class="story-image">
          <% end %>

          <a href="<%= story.url %>" target="_blank"> <%= story.title %> </a> 
          <span class="timestamp"> (<%= story.published.to_s(:created_date) %>, Source: <%= story.source %>) </span>

        </div>
      <% end %>
      
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Angels</div>
      <!-- TODO: Refactor this! -->
      <% @angels.each do |story| %>
        <div class="story">

          <!-- Image, if available -->
          <% if story.image %>
            <img src="<%= story.image %>" alt="" class="story-image">
          <% end %>

          <a href="<%= story.url %>" target="_blank"> <%= story.title %> </a> 
          <span class="timestamp"> (<%= story.published.to_s(:created_date) %>, Source: <%= story.source %>) </span>

        </div>
      <% end %>
    </div>
  </div>

  <div class="row home">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">UCLA Bruins</div>
      <!-- TODO: Refactor this! -->
      <% @bruins.each do |story| %>
        <div class="story">

          <!-- Image, if available -->
          <% if story.image %>
            <img src="<%= story.image %>" alt="" class="story-image">
          <% end %>

          <a href="<%= story.url %>" target="_blank"> <%= story.title %> </a> 
          <span class="timestamp"> (<%= story.published.to_s(:created_date) %>, Source: <%= story.source %>) </span>

        </div>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">USC Trojans</div>
      <!-- TODO: Refactor this! -->
      <% @trojans.each do |story| %>
        <div class="story">

          <!-- Image, if available -->
          <% if story.image %>
            <img src="<%= story.image %>" alt="" class="story-image">
          <% end %>

          <a href="<%= story.url %>" target="_blank"> <%= story.title %> </a> 
          <span class="timestamp"> (<%= story.published.to_s(:created_date) %>, Source: <%= story.source %>) </span>

        </div>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Kings</div>
      <!-- TODO: Refactor this! -->
      <% @kings.each do |story| %>
        <div class="story">

          <!-- Image, if available -->
          <% if story.image %>
            <img src="<%= story.image %>" alt="" class="story-image">
          <% end %>

          <a href="<%= story.url %>" target="_blank"> <%= story.title %> </a> 
          <span class="timestamp"> (<%= story.published.to_s(:created_date) %>, Source: <%= story.source %>) </span>

        </div>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Ducks</div>
      <!-- TODO: Refactor this! -->
      <% @ducks.each do |story| %>
        <div class="story">

          <!-- Image, if available -->
          <% if story.image %>
            <img src="<%= story.image %>" alt="" class="story-image">
          <% end %>

          <a href="<%= story.url %>" target="_blank"> <%= story.title %> </a> 
          <span class="timestamp"> (<%= story.published.to_s(:created_date) %>, Source: <%= story.source %>) </span>

        </div>
      <% end %>
    </div>
  </div>

  <div class="row home">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Galaxy</div>
      <!-- TODO: Refactor this! -->
      <% @galaxy.each do |story| %>
        <div class="story">

          <!-- Image, if available -->
          <% if story.image %>
            <img src="<%= story.image %>" alt="" class="story-image">
          <% end %>

          <a href="<%= story.url %>" target="_blank"> <%= story.title %> </a> 
          <span class="timestamp"> (<%= story.published.to_s(:created_date) %>, Source: <%= story.source %>) </span>

        </div>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Chivas USA</div>
      <!-- TODO: Refactor this! -->
      <% @chivas.each do |story| %>
        <div class="story">

          <!-- Image, if available -->
          <% if story.image %>
            <img src="<%= story.image %>" alt="" class="story-image">
          <% end %>

          <a href="<%= story.url %>" target="_blank"> <%= story.title %> </a> 
          <span class="timestamp"> (<%= story.published.to_s(:created_date) %>, Source: <%= story.source %>) </span>

        </div>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Sparks</div>
      <!-- TODO: Refactor this! -->
      <% @sparks.each do |story| %>
        <div class="story">

          <!-- Image, if available -->
          <% if story.image %>
            <img src="<%= story.image %>" alt="" class="story-image">
          <% end %>

          <a href="<%= story.url %>" target="_blank"> <%= story.title %> </a> 
          <span class="timestamp"> (<%= story.published.to_s(:created_date) %>, Source: <%= story.source %>) </span>

        </div>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">High School</div>
      <!-- TODO: Refactor this! -->
      <% @preps.each do |story| %>
        <div class="story">

          <!-- Image, if available -->
          <% if story.image %>
            <img src="<%= story.image %>" alt="" class="story-image">
          <% end %>

          <a href="<%= story.url %>" target="_blank"> <%= story.title %> </a> 
          <span class="timestamp"> (<%= story.published.to_s(:created_date) %>, Source: <%= story.source %>) </span>

        </div>
      <% end %>
    </div>
  </div>
</div>

<footer>
  <p>This is an independent website. It is not affiliated with, sponsored or endorsed by any of the teams, or news sources, listed throughout the site. </p>
  <p>This site is also not affiliated with the NBA, MLB, NHL, NCAA, WNBA, MLS or any of its entities.
  Created by <a href="http://www.fernvillasenor.com" target="_blank"> Fernando Villasenor </a></p>
</footer>